.page {
    background-image: url("cloud.png");
    background-repeat: repeat;
    text-align: center;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding: 0;
    margin: 0;
    overflow: hidden;
    justify-items: center;
}

.play_area {
    border: 2px solid purple;
    padding: 1px;
    display: table;
    
}

.row {
    display: table-row;
}

.none{
    border: 1px solid pink; 
    width: 40px; 
    height: 40px;
    display: table-cell;
}

.snake_head {
    border: 1px solid green; 
    width: 40px; 
    height: 40px;
    display: table-cell;
    background-image: url("head.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


.snake_body {
    border: 1px solid green; 
    width: 40px; 
    height: 40px;
    display: table-cell;
    background-image: url("rainbow.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.obstacle{
    border: 1px solid red; 
    width: 40px; 
    height: 40px;
    display: table-cell;
    background-image: url("dog.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.food{
    border: 1px solid black; 
    width: 40px; 
    height: 40px;
    display: table-cell;
    background-image: url("fish.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
